@font-face {
	font-family: 'icomoon';
	src:url('../font/icomoon.eot?cuahbq');
	src:url('../font/icomoon.eot?#iefixcuahbq') format('embedded-opentype'),
		url('../font/icomoon.ttf?cuahbq') format('truetype'),
		url('../font/icomoon.woff?cuahbq') format('woff'),
		url('../font/icomoon.svg?cuahbq#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
	content: "\e906";
}
.icon-location:before {
	content: "\e948";
}
.icon-eyes:before {
	content: "\e9cf";
}
.icon-css3:before {
	content: "\eae1";
}
