*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  color: #2b4051;
  background-color: #f5f2eb;
  font: 1em/1 "微软雅黑", "宋体", Arial;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.container {
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.container-title {
  position: relative;
  height: 176px;
  background-color: #fff;
}
.page-title {
  position: absolute;
  left: calc(50% - 500px);
  width: 1000px;
  margin: 0;
  padding: 60px 0;
  text-align: center;
  font-size: 3.5em;
}
section {
  margin: auto;
  width: 100%;
  height: 200px;
  padding: 10px 20%;
  background-color: #72a9aa;
}
section div {
  float: left;
}
section div.left-content {
  width: 100%;
}
section div.right-content {
  width: 0;
}
section div > span {
  display: block;
  padding-bottom: 10px;
}
section div ul li {
  list-style: decimal;
}
.icon-pencil,
.icon-css3,
.icon-location,
.icon-eyes,
.icon-users {
  font-size: inherit;
  padding-left: 8px;
  top: 3px;
  display: inline-block;
  position: relative;
}
.sectionThree {
  height: 350px;
  background-color: #fff;
}
.sectionOne,
.sectionTwo,
.sectionThree,
.sectionFour,
.sectionFive {
  background-color: #fff;
}
@media screen and (max-width: 760px) {
  .container-title {
    height: 150px;
  }
  .container-title .page-title {
    font-size: 2.5em;
  }
  section {
    padding: 8px 8%;
  }
  .sectionThree,
  .sectionFive {
    height: 400px;
  }
  .sectionFour {
    height: 335px;
  }
}
