doctype
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
        title 设计合伙人招募
        link(rel="shortcut icon" href="img/favicon/favicon.ico")
        link(type="text/css" rel="stylesheet" href="css/font.css")
        link(type="text/css" rel="stylesheet" href="css/main.css")
        script(type="text/javascript" src="js/jquery.js")
    body

        .hide
            img(src="img/weixin.jpg")
        .container
            .container-title
                .logo
                    .logo-img
                        img(src="img/logo.svg")
                    span.company-name &nbsp 留彼工坊
                    span.english-name &nbsp NOBIZ LAB
                h1.page-title 设计合伙人招募
            section.hr-title
                span
            section.sectionOne
                h2 关于我们
                    span.icon-users
                p.
                    留彼工坊(NOBIZ LAB)是一支产品主导的互联网创业团队，愿景是通过做好产品来提升物质生活水平，而非为挣钱而做产品或为挣钱而挣钱。 我们立志成为“<strong>小、美、酷</strong>”的公司，然而目前除了“小”保持得异常稳定，其余两项尚有距离。因此，为迈向第二阶段，我们诚邀强力设计师的加入。
            section.sectionTwo.clearfix
                h2 设计信仰
                    span.icon-css3

                p    我们坚信，优秀的团队必须拥有优秀的设计师。
                p    <strong>简单</strong>是一种美德，但务必<strong>清晰</strong>、<strong>可靠</strong>、<strong>流畅</strong>。
                p    你也应该信仰这些。
            section.sectionThree.clearfix
                h2 关于工作
                    span.icon-pencil

                span 一言以蔽之，让你眼前的一切更加<strong>优美</strong>。
                p 你需要打磨产品的交互界面，确保每一个设计元素的存在都考虑了用户体验；你也将尝试图形化某些文字内容，让信息更友好明确地传达；你也会参与文案的平面设计，制造引人入胜的阅读。
                span.need-ability 所以我们期望你
                ul.need-content
                    li 熟练使用常见图形设计工具
                    li 充满想象力，脑洞较大
                    li 愿意写作且善用文字
                    li 明白设计是艺术与工程之间的一种妥协
                    li 如果你懂HTML/CSS将获得加分，不懂也愿意学习以便与工程师沟通
                span.need-ability <strong>或者</strong>
                ul.need-content
                    li 认为老子/老娘就是能胜任这份工作
            section.sectionFour
                h2 你应该在哪
                    span.icon-location
                p.
                    虽然我们允许成员进行远程工作，但我们也认为直接喊话进行协作将获得更高的沟通效率，同时办公室拥有更多的强力设施与资源。因此没错，你必须住在<strong>北京</strong>，并且至少有一定比例的工作日与团队待在一起。

            section.sectionFive
                h2 我们在寻找什么
                    span.icon-eyes
                p.
                    我们不是在寻找劳动力，或者某个工作任务的解决方案，而是在寻找一起奋斗的<strong>伙伴</strong>，寻找<strong>合拍</strong>的做事方式与品位。

            section.sectionSix
                h2 你将得到什么
                    span.icon-gift
                ul
                    li 自由舒适的工作<strong>体验</strong>
                    li 对产品充分的<strong>掌控力</strong>
                    li 更多有趣的<strong>朋友</strong>
                    li 团队<strong>最高</strong>的工资
                    li 一定比例的<strong>干股</strong>及<strong>期权</strong>
                    li 力所能及范围内，需要的<strong>装备/资料</strong>统统可以买买买！
                    li 我们不敢说你的工作伙伴将是业界最好，但是我们一定会专心致志地做各自擅长的事情让团队更加强大，同时不遗余力地为队友提供/创造他们感兴趣的<strong>机会</strong>。


            section.sectionSeven
                h2 联系我们
                    span.icon-mail
                span 请将简历与作品发至邮箱 &nbsp
                span.emial jobs@letsoon.com
                p 倘若对你感觉不错，我们就会约你在风和日丽的某一天，坐下来喝杯咖啡，聊一聊，瞧瞧我们能否相互看对眼。
                p &nbsp
                p 欢迎转发推荐，成功入职即送推荐人<strong>锤子手机</strong>一部。